.id{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.bold{
    font-weight: bold;
}
.description{
    width: 80%;

}
.object_description{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    width: 100%;
    padding: 30px 0;
}
.object_description span{
    font-weight: Bold;
    font-size: 16px;
    line-height: 120%;
    color: #252733;
}
.object_description p{

    font-size: 14px;
    line-height: 112%;
    color: #4F4F4F;
}
p.description_item{
    font-size: 16px;
    line-height: 120%;
    color: #252733;
    font-weight: bold;
    display: flex;
    align-items: center;

}
p.description_item img{
    margin-right: 10px;
}
p.description_item span{
    margin-left: 15px;
    font-weight: normal;
}
.description_grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 40% 40%;
    grid-row-gap: 30px;
}
.right_side{
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1024px){
    .description_grid {
        grid-template-columns: 45% 45%;

    }
}
@media screen and (max-width: 768px){
    .right_side{
        display: none;
    }
    .description_grid {
        grid-template-columns: 100%;
    }
}
@media screen and (max-width: 450px){
    .object_description p {
        font-size: 12px;
    }
    p.description_item{
        font-size: 12px;
    }
}