@import "variables";

.sliderBig.swiper-slide-active{
    width: 100%!important;
    .sliderBig__wrapper{
        display: flex;
        position: relative;
        width: 100%;

        .sliderBig__img{
            width: 100%;
            position: absolute;
            height: 100%;
            z-index: -100;

        }
    }
    .sliderBig__content{
        display : grid;
        flex-direction: column;
        grid-template-rows: 5% 70% 5%;
        height: 677px;
        width: 507px;
        background: rgba(255, 255, 255, 0.88);
        padding: 20px;
        position: absolute;
        top:0;
        left: 0;
    }
}
.sliderBig__slide-name{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 112%;
    color: #252733;
}
.sliderBig__slide-name:after{
    content: "";
    height: 2px;
    width: 30px;
    display: block;
    background-color: #B99349;
    margin: 10px 0;
}







.slider-swiper-attributes {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: rgba(40, 54, 85, 0.95);
}
.swiper-pagination-current{
    font-weight: bold;
    font-size:44px;
    letter-spacing: 0.1em;
    color: #B99349;
}
.sliderBig__text-side{
display: flex;
    justify-content: center;
    flex-direction: column;

}
.advantages .swiper-wrapper{
    align-items: flex-start;
    margin-bottom: -200px;
}
@media screen and (min-width: 2048px){
    .sliderBig__img img{
        width: 100%;
    }
}
@media screen and (max-width: 1500px){
    .sliderBig.swiper-slide-active .sliderBig__content {
        grid-template-rows: 5% 55% 5%;
        padding: 20px ;
    }

}
@media screen and (max-width: 1440px){
    .sliderBig.swiper-slide-active .sliderBig__content {
        grid-template-rows: 5% 40% 5%;
        padding: 20px ;
    }
    .advantages .swiper-wrapper{
        margin-bottom: -150px;
    }
}
@media screen and (max-width: 1200px){
    .sliderBig.swiper-slide-active .sliderBig__content {
        grid-template-rows: 5% 45% 5%;
        padding: 20px ;
    }

}

@media screen and (max-width: 1024px){
    .sliderBig.swiper-slide-active .sliderBig__content {
        grid-template-rows: 5% 45% 5%;
        padding: 20px ;
    }
    .advantages .swiper-wrapper{
        margin-bottom: 00px;
    }
}
@media screen and (max-width: 900px){
    .sliderBig__content .content-text{
        font-size: 14px;
    }
    .sliderBig.swiper-slide-active .sliderBig__content {
        height: auto;
        grid-template-rows: 10% 50% 10%;
        grid-row-gap: 30px;

    }
    .advantages .swiper-wrapper {
        margin-bottom: -200px;
    }
}
@media screen and (max-width: 768px){
    .sliderBig.swiper-slide-active .sliderBig__content {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
    }
    .slider-swiper-attributes{
        display: flex;
        align-items: center;
    }
    .advantages .swiper-wrapper{
        margin-bottom:-200px;
        }
}
@media screen and (max-width: 620px){
    .sliderBig.swiper-slide-active .sliderBig__content {

        padding: 10px 20px 20px;
    }
    .slider-swiper-attributes {

        font-size: 22px;
    }
    .advantages .swiper-wrapper{
        margin-bottom:-150px;
    }
    .sliderBig.swiper-slide-active .sliderBig__content {
        grid-row-gap: 20px;
    }
    .sliderBig__slide-name:after {
        margin: 5px 0;
    }
}

@media screen and (max-width: 520px){
    section.swiper-container .swiper-wrapper .sliderBig .sliderBig__wrapper{
        display: grid;
    }
    section.swiper-container .sliderBig  .sliderBig__content {
        grid-row-start: 2;
        grid-row-end: 2;
        position: relative;
        display: flex;
        height:auto;
    }
    .advantages .swiper-wrapper{
        margin-bottom: 0px;
    }
    section.swiper-container .sliderBig .sliderBig__wrapper .sliderBig__img {
        position: relative;
        z-index: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .sliderBig__img img{
        height: 300px;
    }
    section.swiper-container .sliderBig .sliderBig__content  {
        width: 100%;
        padding: 20px 0;
        display: grid;
        grid-template-rows: 80% 20%;
    }

}
