@import "variables";

.header--filter{
    margin: 0 2rem 16rem!important;
    padding: 7rem 8.5rem 14rem!important;
}

.header{
    margin: 0 2rem 4rem;
    padding: 7rem 8.5rem;
    display: flex;
    column-gap: 10rem;
    background-image: url(/img/headerBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__title{
        flex: 50%;
        font-family: $boldTitle;
        font-size: 4.8rem;
        line-height: 5.3rem;
        letter-spacing: .2rem;
        color: $textOnBlack;
    }
    &__content{
        .text{
            font-size: 1.6rem;
            line-height: 1.8rem;
            color: #DFE0EB;
        }
        .btnCommon--gold{
            margin-top: 3rem;
        }
    }
}


@media screen and (max-width: 1440px){
    .header {
        margin: 0 2rem 4rem;
        padding: 5rem 7.5rem;
    }
    .header__title{
        flex: 100%;
        font-size: 3.8rem;
        line-height: 4.3rem;
    }
    .header--filter{
        margin: 0 2rem 16rem!important;
        padding: 7rem 5.5rem 10rem!important;
    }
}

@media screen and (max-width: 1059px) {
    .header {
        padding: 3rem 4.5rem;
        &__title{
            font-size: 3.8rem;
            line-height: 4.3rem;
        }
    }
    .header--filter{
        margin: 0 2rem !important;
        padding: 5rem 7.5rem!important;
        flex-wrap: wrap;
        .header__title{
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        margin: 0 0 2rem;
        column-gap: 5rem;
    }
    .header--filter{
        margin: 0 0 3rem !important;
    }
}

@media screen and (max-width: 568px) {
    .header {
        padding: 7rem 3rem 4rem!important;
        display: grid;
        row-gap: 2rem;
    }
}

