@import 'variables';

.modal-wrapper{
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 39, 51, 0.98);
  cursor: pointer;
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 88rem;
  animation: showModal .4s ease-in-out;
}

.modal-form{
  display: grid;
  grid-template-columns: 2fr 1fr;
  .img-wrapper{
    background: $mainColor;
    .img{
      margin-top: -8rem;
    }
  }
  &__wrapper{
    position: relative;
    padding: 6rem 3rem;
    background: #fff;
    display: grid;
    row-gap: 3rem;
    .closeModal{
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      background: transparent;
    }
    .content{
      display: grid;
      row-gap: 3rem;
      max-width: 38rem;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
}

@keyframes showModal {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 768px) {
  .modal-form{
    grid-template-columns: 1fr;
    &__bottom{
      display: grid;
      row-gap: 2rem;
      br{
        display: none;
      }
      .text::before {
        top: .5rem;
      }
    }
  }
  .modal-content{
    max-width: 40rem;
  }
    .img-wrapper{
    display: none;
  }
}
