@import 'variables';


.Other__tabs{
  margin-bottom: 3rem;
  display: flex;
  &-item{
    color: $secondColor;
    border-bottom: 1px solid #DFE0EB;
  }
  &-item.active{
    color: $textOnWhite;
    border-bottom: 2px solid #B99349;
  }
  &-btn{
    padding: .5rem;
    font-family: $medium;
    font-size: 2.1rem;
    line-height: 2.5rem;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }
}

.Other__content{
  display: grid;
  row-gap: 2rem;
  margin-bottom: 4rem;
  &-list{
    display: grid;
    row-gap: 2rem;
  }
}

.Other__filter{

  &-list{
    padding-right: 3rem;
    display: flex;
    column-gap: 3rem;
    align-items: center;
    background: #FFF;
  }
  &-item{
    display: flex;
    align-items: center;
    //flex: 1;
    flex-basis: 11rem;
    flex-grow: 1;
    justify-content: center;
  }
  &-wrapperBtn{
    margin-right: .5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-btn{
    display: flex;
    background: transparent;
    .icon{
      height: .8rem;
      width: 1rem;
    }
  }
}

.Other__content-item{
  display: flex;
  padding-right: 3rem;
  width: 100%;
  align-items: center;
  background: #FFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  .item__img{
    height: 100%;
  }
  .img{
    width: 100%;
    height: 100%;
  }
  .item-cell{
    flex-basis: 11rem;
    flex-grow: 1;
    text-align: center;
  }
  .attribute{
    font-family: $medium;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $textOnWhite;
  }
  .attribute-description{
    padding-left: .5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $secondColor;
  }
}

@media screen and (max-width: 1340px) {
  .item__condition,
  .item__layout{
    display: none;
  }
  .filterType_condition,
  .filterType_layout{
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .Other__filter-list{
    padding-right: 0;
  }
  .Other__filter-item:last-child{
    flex-basis: 0;
  }
  .Other__content-item{
    padding: 1rem;
    .item__img{
      display: none;
    }
    .btnCommon-alt{
      flex: 0;
      font-size: 0;
      background-image: url(../img/transformMobileBtnFilter.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .filterType_photo{
    display: none;
  }
}

