@import "variables";
.gallery-slider{
    display: none;
}
.sliderWithCards{
    border: 1px solid $secondColor;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    .slider-item__head{
        padding: 1.2rem 1.4rem;
        &-title{
            font-family: $medium;
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $textOnWhite;
        }
        .description{
            display: flex;
            align-items: center;
        }
        .description-icon{
            margin-right: .5rem;
        }
    }
    figcaption{
        padding: 1.5rem 1.2rem;
        background: white;
        .slider-item__listAttributes{
            display: flex;
            flex-wrap: wrap;
        }
        .slider-item__listAttributes-item{
            padding: .5rem;
            display: flex;
            align-items: center;
        }
    }
    .slider-item__bottom{
        padding: 2rem 0;
        text-align: center;
        .price{
            font-family: $medium;
            font-size: 2.6rem;
            line-height: 3.1rem;
            color: $mainColor;
        }
        strike{
            display: block;
            margin-bottom: .5rem;
            font-family: $medium;
            font-size: 1.8rem;
            line-height: 2rem;
            color: $secondColor;
        }
        .btnCommon-alt{
            margin: -2rem auto 0;
            width: 50%;
        }
    }
    .img {
        width: 100%;
    }
}
.gallery .swiper-slide-active{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 1) !important;

}
@media screen and (max-width: 650px)  {
    .sliderWithCards {
        figcaption {
            padding: 1.5rem 0;
            .slider-item__listAttributes {
                justify-content: center;
                column-gap: 1.5rem;
            }
        }
    }
    .gallery-slider{
        display: block;
    }
}
@media screen and (max-width: 460px){
    .gallery .slider-swiper-attributes {
        margin-top: 2rem !important;
    }
    .gallery .swiper-slide{
        margin: 0 10px;
    }
}