@import "variables";

.sliderPanorama{

    &__wrapper{
        max-width:100%;
        display: flex;
        justify-content: center;
    }
    &__img{
        width: 100%;
    }

    .slider-swiper-attributes .swiper-arr{
        width: 40px!important;
        height: 30px!important;
    }


}
