// Body
$mainColor: #283655;
$boldColor: #232847;

// Typography
$boldTitle: 'Playfair Display', serif;
$medium: 'Gotham Pro-Medium', sans-serif;
$regular: 'Gotham Pro-Regular', sans-serif;
$light:'Gotham Pro-Light', sans-serif;


// Colors
$textOnBlack: #fff;
$textOnWhite: #252733;
$secondColor: #ADADAD;
$inputColor: #DDE2FF;
$gradient: radial-gradient(40.43% 100.95% at 47.25% 29.95%, #D4B76A 0%, #B99349 100%);
